{% extends "//layout.html.twig" %}
{% block couleur %}
        <link rel="stylesheet" type="text/css" id="style_sheet"
              href="{{ asset('vue/css/skins/'~  couleur.nomCouleur ~'.css') }}">
        <!-- Favicon icon -->
        <link rel="shortcut icon" href="{{ asset('vue/img/favicon/'~ couleur.nomCouleur ~'-logo.ico') }}" type="image/x-icon">
{% endblock %}
{% block logoCouleur %}
        <img src="{{ asset('vue/img/logos/'~ couleur.nomCouleur ~'-logo.png') }}" alt="logo">
{% endblock %}
{% block bandeau %}
    <!-- Sub banner start -->
    <div class="sub-banner">
        <div class="overlay">
            <div class="container">
                <div class="breadcrumb-area">
                    <h1>Nos Agents</h1>
                    <ul class="breadcrumbs">
                        <li><a href="/agence/web/app_dev.php">Accueil</a></li>
                        <li class="active">Nos Agents</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Sub Banner end -->
{% endblock %}

{% block body %}
    <!-- Agent section start -->
    <div class="agent-section content-area">
        <div class="container">
            <!-- option bar start -->
            <div class="option-bar">
                <div class="row">
                    <div class="col-lg-6 col-md-5 col-sm-5 col-xs-2">
                        <h4>
                        <span class="heading-icon">
                            <i class="fa fa-th-list"></i>
                        </span>
                            <span class="hidden-xs">Nos Agents</span>
                        </h4>
                    </div>
                    <div class="col-lg-6 col-md-7 col-sm-7 col-xs-10 cod-pad">
                        <div class="sorting-options">
                            <select class="sorting">
                                <option>New To Old</option>
                                <option>Old To New</option>
                                <option>Properties (High To Low)</option>
                                <option>Properties (Low To High)</option>
                            </select>
                            <a href="{{ path('agent-view-list') }}" class="change-view-btn active-view-btn"><i class="fa fa-th-list"></i></a>
                            <a href="{{ path('agent-view-grid') }}" class="change-view-btn"><i class="fa fa-th-large"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- option bar end -->
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-lg-12">
                    {% for agent in agents %}
                        <!-- Agent box big start -->
                        <div class="agent-box-big clearfix">
                            <div class="col-lg-4 col-md-4 col-sm-5 agent-box-theme">
                                <a href="/agence/web/app_dev.php/agent/fiche/{{ agent.id }}" class="agent-img">
                                <img src="{{ asset('uploads/agents/' ~  agent.photoAgent ~ '') }}" alt="agent" class="img-responsive" width="380" height="280">
                                </a>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-7 agent-content detail">
                                <!-- Title -->
                                <h1 class="title">
                                    <a href="/agence/web/app_dev.php/agent/fiche/{{ agent.id }}">{{ agent.nomAgent }} {{ agent.prenomAgent }}</a>
                                </h1>
                                <!-- contact -->
                                <div class="contact">
                                    <p class="pgo2">
                                        <i class="fa fa-envelope-o" ></i>{{ agent.emailAgent }}  <i class="fa fa-phone" style="margin-left: 10px"></i>{{ agent.telAgent }}
                                    </p>
                                </div>
                                <p>Morbi accumsan ipsum velit nam nec tellus a odio tincidunt auctor a ornare odio sed non mauris<span class="hidden-sm">  vitae erat consequat auctor eu in elit class aptent taciti sociosqu ad litora torquent per conubia nostra per inceptos him enaeos mauris in erat</span> </p>
                                <!-- footer -->
                                <div class="footer clearfix">
                                    <div class="pull-left">
                                        <!-- social list -->
                                        <ul class="social-list clearfix">
                                            <li>
                                                <a href="#" class="facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="linkedin">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="google">
                                                    <i class="fa fa-google-plus"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="rss">
                                                    <i class="fa fa-rss"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pull-right">
                                        <a href="/agence/web/app_dev.php/agent/fiche/{{ agent.id }}" class="btn button-sm button-theme">Détails</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Agent box big end -->
                    {% endfor %}
                </div>
            </div>
            <!-- Page navigation start -->
            <div>{{ knp_pagination_render(agents) }}</div>
            <!-- Page navigation end -->
        </div>
    </div>
    <!-- Agent section end -->

{% endblock %}