<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block header %}Admin {% endblock %}</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="{{ asset('vue/img/favicon/blue-light-logo.ico') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/cs-skin-elastic.css') }}">
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="{{ asset('vueAdmin/scss/style.css') }}">
    <link href="{{ asset('vueAdmin/css/lib/vector-map/jqvmap.min.css') }}" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/lib/datatable/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('vueAdmin/css/myStyle.css') }}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
</head>

<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{ path('admin-accueil') }}"><img
                        src="{{ asset('vue/img/logos/blue-light-logo3.png') }}"
                        alt="Logo"></a>
        </div>
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ path('admin-accueil') }}"> <i class="menu-icon fa fa-dashboard"></i>Tableau de
                        bord</a>
                    <a href="{{ path('accueil') }}" target="_blank"> <i class="menu-icon fa fa-eye"></i>Voir le site</a>
                </li>
                <h3 class="menu-title">L'agence Immobilière</h3>
                <li>
                    <a href="{{ path('admin-agence-view') }}"><i class="menu-icon fa fa-home"> </i> Les Agences</a>
                    <a href="{{ path('admin-agent-view') }}"><i class="menu-icon fa fa-group"> </i> Les Agents</a>
                </li>
                <h3 class="menu-title">Bien immobilier</h3>
                <li>
                    <a href="{{ path('admin-bien-view') }}"><i class="menu-icon fa fa-home"> </i> Les Biens</a>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-comments"></i>Commentaires</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-comment"></i><a href="{{ path('admin-com-a-valider-view') }}">Com
                                à valider</a></li>
                        <li><i class="menu-icon fa fa-commenting-o"></i><a href="{{ path('admin-com-valider-view') }}">Com
                                publiés</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"> <i class="menu-icon fa fa-cogs"></i>Autres</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-home"></i><a href="{{ path('admin-type-bien-view') }}">Les Types
                                de bien</a></li>
                        <li><i class="menu-icon fa fa-cog"></i><a href="{{ path('admin-details-bien-view') }}">Les
                                Options du bien</a></li>
                        <li><i class="menu-icon fa fa-map"> </i><a href="{{ path('admin-zone-geo-view') }}">Les Zones
                                Géo</a></li>
                    </ul>
                </li>
                <h3 class="menu-title">Personnaliser le site</h3>
                <li>
                    <a href="{{ path('admin-perso-couleur') }}"> <i class="menu-icon fa fa-tint"></i>Couleur</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
<!-- Left Panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="header-menu">
            <div class="col-md-10">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    {% block title %}
                    {% endblock %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{{ asset('vue/img/chat.jpg') }}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="/agence/web/app_dev.php/logout"><i class="fa fa-power -off"></i>Déconnexion</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- END Header-->

    <!-- CORPS DE PAGE START -->
    {% block body %}
    {% endblock %}
    <!-- CORPS DE PAGE END -->

    {# MODAL MESSAGE #}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-6">
                        <h4 class="modal-title" id="myModalLabel">Attention !</h4>
                    </div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </div>
                <div class="modal-body">
                    <p>Voulez vous vraiment supprimer cette entrée ?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <a class="btn btn-danger btn-ok">Confirmer</a>
                </div>
            </div>
        </div>
    </div>
    {# END MODAL MESSAGE #}

</div>
<!-- END RIGHT PANEL -->

<script src="{{ asset('vueAdmin/js/vendor/jquery-2.1.4.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="{{ asset('vueAdmin/js/plugins.js') }}"></script>
<script src="{{ asset('vueAdmin/js/main.js') }}"></script>

<script src="{{ asset('vueAdmin/js/lib/chart-js/Chart.bundle.js') }}"></script>
<script src="{{ asset('vueAdmin/js/dashboard.js') }}"></script>
<script src="{{ asset('vueAdmin/js/widgets.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/vector-map/jquery.vmap.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/vector-map/jquery.vmap.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/vector-map/jquery.vmap.sampledata.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/vector-map/country/jquery.vmap.world.js') }}"></script>
<script src="{{ asset('vueAdmin/js/jquery.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/bootbox.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/bootstrap-notify.min.js') }}"></script>

{#FILTRE TABLEAU#}
<script src="{{ asset('vueAdmin/js/lib/data-table/datatables.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/dataTables.bootstrap.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/dataTables.buttons.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/jszip.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/pdfmake.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/vfs_fonts.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/buttons.html5.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/buttons.print.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/buttons.colVis.min.js') }}"></script>
<script src="{{ asset('vueAdmin/js/lib/data-table/datatables-init.js') }}"></script>

<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));

        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.btn-ok').attr('href') + '</strong>');
    });
</script>
<script>
    $(".add").click(function () {
        $.notify({
            // options
            message: 'Hello World'
        }, {
            // settings
            type: 'primary'
        });
    });
</script>
<script>
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

{#JS FILE INPUT#}
<script>
    $('#file-select-button').click(function(){
        $('.upload input').click();
    });
</script>
</body>
</html>
