{% extends "//layoutAdmin.html.twig" %}

{% block header %}
    {{ parent() }} - Agents
{% endblock %}

{% block title %}
    <h5> L'entreprise > <a href="{{ path('admin-agent-view') }}"> Les Agents </a> > Fiche </h5>
{% endblock %}

{% block button %}
    <div class="col-md-1 center-block">
        <a href="/agence/web/app_dev.php/admin/agent/edit/{{ agent.id }}"
           class="btn btn-danger" role="button">Modifier l'agent</a>
    </div>
{% endblock %}

{% block body %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mx-auto d-block">
                                <img class="rounded-circle mx-auto d-block"
                                     src="{{ asset('uploads/agents/' ~  agent.photoAgent ~ '') }}"
                                     alt="Card image cap">
                                <h5 class="text-center mt-2 mb-1">{{ agent.nomAgent }} {{ agent.prenomAgent }}</h5>

                                <div class="location text-center"><i class="fa fa-phone"
                                                                        style="margin-right: 10px;"> </i> {{ agent.telAgent }}
                                </div>
                                <div class="location text-center"><i class="fa fa-map-marker"
                                                                        style="margin-right: 10px;"> </i> {{ agent.adresse.bpAdresse }} {{ agent.adresse.rueAdresse }}
                                    <br>
                                    {{ agent.adresse.cpVille }}, {{ agent.adresse.nomVille }}
                                </div>
                                <div class="location text-center"><i class="fa fa-envelope"
                                                                        style="margin-right: 10px;"> </i> {{ agent.emailAgent }}
                                </div>
                            </div>
                            <hr>
                            <div class="card-text text-sm-center">
                                <a href="#"><i class="fa fa-facebook pr-1"></i></a>
                                <a href="#"><i class="fa fa-twitter pr-1"></i></a>
                                <a href="#"><i class="fa fa-linkedin pr-1"></i></a>
                                <a href="#"><i class="fa fa-pinterest pr-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center"> Agence affectée(s)</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Nom de l'agence</th>
                                        <th scope="col">Téléphone</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if agences == null %}
                                        <tr>
                                            <td colspan="2" class="text-center"><i> vide </i></td>
                                        </tr>
                                    {% else %}
                                        {% for agence in agences %}
                                            <tr>
                                                <td>
                                                    <a href="/agence/web/app_dev.php/admin/agence/fiche/{{ agence.id }}"> {{ agence.nomAgence }} </a>
                                                </td>
                                                <td> {{ agence.telAgence }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center"> Bien(s) affecté(s)</h3>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">Titre</th>
                                        <th scope="col">Surface (m²)</th>
                                        <th scope="col">Ville</th>
                                        <th scope="col">Type Vente</th>
                                        <th scope="col">Prix (€)</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if biens == null %}
                                        <tr>
                                            <td colspan="5" class="text-center"><i> vide </i></td>
                                        </tr>
                                    {% else %}
                                        {% for bien in biens %}
                                            <tr>
                                                <td>
                                                    <a href="/agence/web/app_dev.php/admin/bien/fiche/{{ bien.id }}"> {{ bien.titreBien }} </a>
                                                </td>
                                                <td> {{ bien.surfaceBien }}</td>
                                                <td>
                                                    {{ bien.adresse.nomVille }}
                                                </td>
                                                <td> {{ bien.typeVenteBien }}</td>
                                                <td> {{ bien.prixBien }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <a href="/agence/web/app_dev.php/admin/agent/edit/{{ agent.id }}"
                       class="btn btn-primary center-block" role="button">Modifier l'agent</a>
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
{% endblock %}