{% extends "//layoutAdmin.html.twig" %}
{% block header %}
    {{ parent() }} - Personnaliser
{% endblock %}
{% block title %}
    <h5> Personnaliser > Couleur </h5>
{% endblock %}
{% block body %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-lg-8">
                    {% for message in app.flashes('ajout') %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong> {{ message }} </strong>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('modif') %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong> {{ message }} </strong>
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('suppression') %}
                        <div class="alert alert-success alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong> {{ message }} </strong>
                        </div>
                    {% endfor %}
                    <div class="card">
                        <div class="card-header"><strong>Modifier </strong> la couleur du site :
                        </div>
                        <div class="card-body card-block">
                            <div class="form-group">
                                {{ form_start(form) }}
                                <div class="col-md-12 SHmarge">
                                    {% for couleur in form.nomCouleur %}
                                       <div class="col-md-6">
                                           <div class="col-md-2"><div  class="SH{{ loop.index }}"></div></div>
                                           <div class="col-md-10">{{ form_widget(couleur) }}</div>
                                       </div>
                                    {% endfor %}
                                    {{ form_errors(form.nomCouleur) }}
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}